%h1 New post

%form(action="/posts" method="POST")
  %div
    %label(for="title") Title
    %input(name="title")

  %div
    %label(for="description") Description
    %input(name="description")

  %div
    %label(for="body") Body
    %textarea(name="body")

  %button Create post
